<h4>Ajoutez votre commentaire :</h4>
<%= simple_form_for([chapter, comment]) do |f| %>
  <%= f.input :commentary, label: false %>
  <h5>Donnez une note :</h5>
  <%= f.select :rating, options_for_select(1..5) %>
  <br /> <hr />
  <%= f.button :submit %>
<% end %>
