<%-# Affichage du commentaire, il sera rendu dans le show.html.erb de chapiter %>
<section class="comment">
  <blockquote>
    <%= comment.commentary %>
    <hr/>
    <p class="small text-right">
      A noté
      <%= comment.rating %>
      / 5
    </p>
  </blockquote>
  <p class="small text-right">
    Par
    <%= comment.user.username %>
    le
    <%= l(comment.created_at.to_date, format: "%d/%m/%Y") %>
  </p>
</section>
