<div class = "comment-instruction">
  <% if user_signed_in? %>
    <%= render "comments/form", manga: @mangas, comment: @new_comment %>
  <% else %>
  <p>
    Vous devez être connecté(e) pour laisser une commentaire.
  </p>
  <% end %>
</div>

<div class = "comments">
  <% if @manga.comments.any? %>
    <h2>Commentaires : </h2>

    <% @manga.comments.each do |comment| %>
      <%= render "comments/show", comment: comment %>
    <% end %>
  <% end %>
</div>
