<h1 class = "text-center"><%= @chapter.name %></h1>

<div class="bookmarks">
  <%- if user_signed_in? %>
    <%= render "bookmarks/form", chapter: @chapter, bookmark: @new_bookmark %>
  <% end %>
</div>

<div class = "comment-instruction">
  <% if user_signed_in? %>
    <%= render "comments/form", chapter: @chapter, comment: @new_comment %>
  <% else %>
  <p>
    Vous devez être connecté(e) pour laisser une commentaire.
  </p>
  <% end %>
</div>

<div class = "comments">
  <% if @chapter.comments.any? %>
    <h2>Commentaires : </h2>

    <% @chapter.comments.each do |comment| %>
      <%= render "comments/show", comment: comment %>
    <% end %>
  <% end %>
</div>
